In [2]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
%matplotlib inline

In [3]:
train = pd.read_csv("train_data.csv")
test = pd.read_csv("test_data.csv")
print("Number of rows and columns in train set :",train.shape)
print("Number of rows and columns in test set :",test.shape)

Number of rows and columns in train set : (7160, 14)
Number of rows and columns in test set : (3069, 13)

In [4]:
train.fillna(train.mode(), inplace=True)
test.fillna(test.mode(), inplace=True)

In [5]:

train.Garden = train.Garden.fillna("V")


test.Garden = test.Garden.fillna("V")


test.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  0
Settlement              0
Building_Dimension     13
Building_Type           0
Date_of_Occupancy     728
NumberOfWindows         0
Geo_Code               13
dtype: int64

In [6]:
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OneHotEncoder

In [7]:
data=train
from sklearn.preprocessing import LabelEncoder,StandardScaler,RobustScaler

In [8]:
data.column=['Building_Painted','Building_Fenced','Garden','Settlement']
for label in data.column:
    data[label] = LabelEncoder().fit(data[label]).transform(data[label])

C:\Users\user\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [9]:
data['NumberOfWindows']=pd.get_dummies(data['NumberOfWindows'])

In [10]:
data.Building_Dimension.fillna(1083, inplace=True)

test.Building_Dimension.fillna(1083, inplace=True)

data.Date_of_Occupancy.fillna(1973, inplace=True)
test.Date_of_Occupancy.fillna(1973, inplace=True)
data.Geo_Code.fillna(6088, inplace=True)
test.Geo_Code.fillna(6083, inplace=True)

In [11]:
test.isnull().sum()

Customer Id           0
YearOfObservation     0
Insured_Period        0
Residential           0
Building_Painted      0
Building_Fenced       0
Garden                0
Settlement            0
Building_Dimension    0
Building_Type         0
Date_of_Occupancy     0
NumberOfWindows       0
Geo_Code              0
dtype: int64

In [12]:
data.Insured_Period=data.Insured_Period.astype(int)
data.Date_of_Occupancy=data.Date_of_Occupancy.astype(int)


data.Building_Dimension=data.Building_Dimension.astype(int)

In [13]:
data["Insured_Period"]  = data.Insured_Period

In [14]:

data.Building_Dimension=np.log(data.Building_Dimension)

In [15]:

data['Geo_Code']=data['Geo_Code'].map(data['Geo_Code'].value_counts().to_dict())

In [16]:

X=data.drop(['Claim','Customer Id'], axis=1)
Y=data['Claim']
train.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building_Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1,0,0,1,1,1,5.669881,1,1960,1,5,0
1,H2037,2015,1,0,1,0,0,0,6.194405,1,1850,0,5,0
2,H3802,2014,1,0,0,1,1,1,6.388561,1,1960,1,5,0
3,H3834,2013,1,0,1,1,1,1,7.951559,1,1960,1,5,0
4,H5053,2014,1,0,1,0,0,0,6.522093,1,1800,0,5,0

In [17]:
test.column=['Building_Painted','Building_Fenced','Garden','Settlement']
for label in test.column:
    test[label] = LabelEncoder().fit(test[label]).transform(test[label])

C:\Users\user\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [18]:
test['NumberOfWindows']=pd.get_dummies(train['NumberOfWindows'])


test['Geo_Code']=test['Geo_Code'].map(test['Geo_Code'].value_counts().to_dict())

In [19]:
test.Insured_Period=test.Insured_Period.astype(int)
test.Date_of_Occupancy=test.Date_of_Occupancy.astype(int)


test.Building_Dimension=test.Building_Dimension.astype(int)

In [20]:
test["Insured_Period"]  = test.Insured_Period

In [21]:
test.Building_Dimension=np.log(test.Building_Dimension)

test.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building_Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code
0,H11920,2013,1,0,1,0,0,0,5.703782,1,1960,0,3
1,H11921,2016,0,0,1,0,0,0,5.703782,1,1960,1,3
2,H9805,2013,0,0,1,1,1,1,6.672033,1,1960,0,3
3,H7493,2014,1,0,1,0,0,0,7.247793,1,2004,0,2
4,H7494,2016,1,0,1,0,0,0,7.247793,1,2004,1,2

In [22]:
# splitting the training features into test and train for valisdation
X= train.drop( ['Claim','Customer Id'], axis = 1)
y = train["Claim"]

scaler=RobustScaler()
X=scaler.fit_transform(X)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [23]:
from sklearn.ensemble import GradientBoostingClassifier,AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

In [24]:
model=LogisticRegression()
model.fit(X_train, y_train)

C:\Users\user\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [25]:
#importing library and building model

#model=LogisticRegression()
#model.fit(X_train, y_train)

In [26]:
from sklearn.metrics import f1_score,accuracy_score
pred = model.predict(X_test)

In [27]:
a = pd.read_csv("test_data.csv")

In [28]:
test = test.drop( ['Customer Id'], axis = 1)

test=scaler.transform(test)

In [29]:
pred = pd.DataFrame(model.predict_proba(test),columns= ['Clame','Claime'])

In [30]:
pred = pd.concat([a['Customer Id'], pred.Claime], axis =1)

In [32]:
pred.to_csv("ASK.csv",index = False)